# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\prog-Python\toTheMoon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
